:root {
    --vermelho: #E50914; /* Elemento raíz é possível definir variáveis no CSS*/
    --preto: #141414;
}

/* Reset de Configurações */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Elementos Base*/
body {
    background: var(--preto); /* Função var para referenciar variáveis*/
    font-family: 'Roboto', sans-serif;
    color: white;
}

 header .container {
    display: flex;   
    align-items: center;
    justify-content: flex-start;
    margin-left: 46px;
    margin-bottom: 5px;   
}

header .logo {
    height: 40%;       
    width: 12%;
    margin-right: 50px;
}


header nav a {
    color: #AAA;    
    margin-right: 18px;
}

header nav a:hover { /* Efeito de trocar a cor quando passar o mouse em cima*/
    color: #ffffff;
}

/* Elementos Filmes*/
main .filme-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;/* Sempre acompanha a direção do flex*/
    align-items: flex-start;
    font-size: 16px;
    /* linear-gradient add uma camada acima da imagem*/
    background: linear-gradient(rgba(0,0,0,.60),rgba(0,0,0,.50)100%), url("../img/got_poster.jpg");
    height: 555px;
    background-size: cover; /* Imagem se ajusta ao tamanho da caixa*/
    margin-bottom: 10px;
}

.container {
   /* width: 95%;
    margin:auto; */
    margin-left: 1.2rem;
    
}



.filme-principal .container {
    width: 65%;
}

main .filme-principal .descricao-filme {   
    margin-bottom: 35px;
    margin-top: 5px;
    font-size: 0.9rem;
    margin-left: 30px;
    width: 80%;
}

.img-filme {
    height: 57%;
}

.titulo-filme {
    margin-top: 9%;
    margin-bottom: 1px;    
}

.botoes {
    margin-left: 30px;
    width: 100%;
}

.botao {
    background-color: whitesmoke;
    border: none;
    color: var(--preto);
    padding: 1em 2em;
    width: 14.5em;
    margin-right: 1em;
    cursor: pointer; /* Mãozinha*/
    outline: none;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 5px;
}

.botao:hover {
    background-color: rgba(245,245,245,.65);
    transition: 300ms ease all;
}

#mais-info {
    background-color: rgba(109,109,110,0.8);
    color: white;
}

#mais-info:hover {
    background-color: rgba(109,109,110,0.3);
    transition: 300ms ease all;
}

.botao i {
    margin-right: 5px;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.minha-lista {
    margin-left: 30px;
    padding-top: 45px;
}

