@media screen and (max-width: 700px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    header .logo {
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 1224px) {
    .titulo-filme {
        width: 88%;
    }

    .img-filme {
        height: 250px;
    }
}

@media screen and (max-width: 794px) {
    .botoes {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }

    .img-filme {
        height: 150px;
    }
}


